
.tab {
	position: relative;
}

.tab button {
	padding: 2px 10px 2px 10px;
	font-family: inherit;
	font-size: 11pt;
	text-shadow: 1px 1px darkgray;
	border: 2px black outset;
	background-color: inherit;
}

.tab button:hover {
	background-color: cyan;
}

.tab button:active {
	border-style: inset;
}

button.submit {
	width: 128px;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}

button.submit.active {
	box-shadow: 0 0 10px 3px cyan;
}

#view-tab.active {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.view-option {
	margin: 2px;
}

.view-option label {
	position: relative;
	user-select: none;
	padding-left: 2px;
	padding-right: 4px;
	border-style: solid;
	border-width: 2px;
}

.view-option input:not(:checked) + label {
	color: gray;
	background-color: rgba(0,0,0,0.1);
	border-color: transparent !important;
}

.view-option input:not(:checked) + label span {
	background-color: rgba(0,0,0,0.1) !important;
}

.view-option .color-box {
	position: absolute;
	top: -2px;
	right: -22px;
	height: 22px;
	width: 20px;
}

.switch-input {
	margin-top: 2px;
	padding: 1px !important;
	width: 50%;
}

.time-input input {
	text-align: center;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	width: 128px;
	margin-left: 4px;
	margin-right: 4px;
	background-color: rgba(0,0,0,0.1);
	border: 2px transparent solid;
}

.time-input input.invalid {
	border: 2px red solid;
	background-color: rgba(255,0,0,0.2);
	transition: 500ms;
}

.time-input input:hover {
	background-color: cyan;
}

.time-input input:focus {
	outline: none;
}
