
.tab {
	position: relative;
}

.tab button {
	padding: 2px 10px 2px 10px;
	font-family: inherit;
	font-size: 11pt;
	text-shadow: 1px 1px darkgray;
	border: 2px black outset;
	background-color: inherit;
}

.tab button:hover {
	background-color: cyan;
}

.tab button:active {
	border-style: inset;
}

button.submit {
	position: absolute;
	bottom: 1rem;
	right: 1rem;
}

.view-option {
	margin: 4px;
}

.view-option label {
	position: relative;
	user-select: none;
	padding-left: 2px;
	padding-right: 4px;
	border-style: solid;
	border-width: 2px;
}

.view-option input:not(:checked) + label {
	color: gray;
	background-color: rgba(0,0,0,0.1);
	border-color: transparent !important;
}

.view-option input:not(:checked) + label span {
	background-color: rgba(0,0,0,0.1) !important;
}

.view-option .color-box {
	position: absolute;
	top: -2px;
	right: -22px;
	height: 22px;
	width: 20px;
}
