body {
	display: inline flex !important;
	font-family: monospace;
	font-size: 11pt;
}

.tools {
	position: absolute;
	border
}

.tab {
	float: left;
}


.tab [type=radio] {
	display: none;
}

.tab-content {
	max-width: 600px;
	border: 2px solid;
	border-top: none;
	position: absolute;
	padding: 6px;
	left: 0px;
	opacity: 0;
}

.tab label {
	color: gray;
	padding-left: 16px;
	padding-right: 16px;
	cursor: pointer;
	border: 1px gray solid;
	border-bottom: 2px black solid;
}

[for=tabhide] {
	border-bottom: 2px black solid !important;
}

[type=radio]:checked ~ label {
	color: black;
	font-weight: bold;
	border-bottom: none;
	border-color: black;
	border-width: 2px;
}

[type=radio]:checked ~ .tab-content {
	opacity: 1;
}
