body {
	display: grid !important;
	grid-auto-flow: row;
	grid-template-columns: auto 6fr;
	gap: 8px;
	font-family: monospace;
	font-size: 11pt;
}

.tool-selector {
	display: flex;
	flex-wrap: wrap;
	gap: 4px;
}

.tool-option {
	display: block;
}

.tool-option input {
	display: none;
}

.tool-option label {
	display: block;
	text-align: center;
	text-shadow: 1px 1px darkgray;
	color: gray;
	padding: 2px 11px 2px 11px;
	border: 1px gray solid;
	cursor: pointer;
}

.tool-option label:hover {
	background-color: cyan;
}

[type=radio]:checked+label {
	text-shadow: 1px 1px cyan;
	color: black;
	padding: 1px 10px 1px 10px;
	font-weight: bold;
	border-color: black;
	border-width: 2px;
}

[type=radio]:checked+label:hover {
	background-color: white;
}

.tool-content {
	padding: 0.5rem;
	border: 2px black solid;
	min-height: 30vh;
	max-width: 600px;
	grid-row-end: 3;
	grid-column: 1;
}

select {
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	border: 2px outset;
	border-radius: 4px;
}

select:hover {
	background-color: cyan;
}

.graph {
	min-height: 360px;
	max-width: 1200px;
	border: 2px black solid;
	grid-row-start: 1;
	grid-row-end: span 3;
	grid-column: 2;
	background-color: darkgray;
}
